<style>
.scrollcenter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transform: translate3d(0px, 0px, 0px) scale(1);
}
</style>
<ion-view title="Sobre a Huddle3">
    <ion-content class="has-header bg-color" overflow-scroll="false" scroll="false" style="height: 100%;display: table !important;width: 100% !important;height: 100% !important;padding: 20px;">
        <div class="scrollcenter">
            <div class="row row-center">
                <div class="col col-center">
                    <div style="margin-bottom:15px"><img src="images/huddle3.png" width="150" alt=""></div>
                    <p style="color: #6F7172;margin-bottom: 25px;">A Huddle3 Ltda. é uma empresa de tecnologia e inovação, genuinamente paraense, dedicada à criação de produtos que possibilitam a comodidade e a facilidade no relacionamento entre contribuintes e as Secretarias de Fazenda Estaduais.</p>
                    <div style="margin-bottom: 10px;margin-top: 10px;" align="center">
                        <div style="font-weight:bold">Fale conosco</div>
                        <img style="width: 50%;" src="images/header.png" alt="">
                    </div>
                    <a class="button btn btn-default" style="width: 100%!important;border: 0;background-color:rgba(248, 248, 248, 0)" href="tel:91981921303">
                        <i class="ion-social-whatsapp-outline"></i> (91) 98192-1303
                    </a>

                    <a class="button btn btn-default" style="width: 100%!important;border: 0;background-color:rgba(248, 248, 248, 0);margin-top:5px" href="tel:91981178020">
                        <i class="ion-social-whatsapp-outline"></i> (91) 98117-8020
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
