<ion-view title="Histórico de Consultas">
    <ion-content class="has-header bg-color">
        <div class="list list-inset" style="background-color: rgba(255, 255, 255, 0);">
            <a class="item item-result placa">
                <div class="placa_top">Meu carro</div>
                <div class="placa_num">OTP-3149</div>
            </a>
            <a class="item item-result placa">
                <div class="placa_top">Carro da Mamae</div>
                <div class="placa_num">OTP-3149</div>
            </a>
        </div>
        <div style="height:25px"></div>
        <div class="alternative-actions" align="center">
            <a class="forgot-password button button-small button-clear" href="/#/app/ipvahistory" style="color: rgb(92, 92, 92);font-size: 1.6em;cursor:pointer">  <i class="ion-ios-close-outline" style="margin-right:4px"></i> Limpar Histórico</a>
        </div>
        <div style="height:50px"></div>
    </ion-content>
</ion-view>
