.loader {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

body {
    // font-family: 'Roboto-Regular';
    background-color: #F5F5F5!important;
}

.input-label {
    display: block!important;
    width: 1%!important;
    width: 90px !important;
    font-size: 14px!important;
}

.bar {
    background-color: #F5F5F5;
}

.bg-color {
    background: url('../images/bg.png') repeat center;
}

.bar.bar-stable .title {
    color: #444;
    font-weight: bold;
}

.bar-stable-custom {
    background: white!important;
    border-bottom-width: 4px;
    border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAAFAgMAAABJHN1SAAAADFBMVEVPxuD1v0k4upbvvzdY7y3JAAAAGUlEQVQY02M4wEAcEA3FAaJWoYBRAyk3EABgXlxAR1eobgAAAABJRU5ErkJggg==') 27 fill repeat!important;
}


/*Timeline*/

.pos-absolute-right {
    position: absolute;
    right: 8px;
}

.timeline {
    position: relative;
    margin: 15px 0px 0px -9px;
    padding-right: 15px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: rgb(1, 48, 33);
    left: 44px;
    margin-left: -10px;
    z-index: 1;
}

.timeline .timeline-thumb {
    border-radius: 500px;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 10px
}

.timeline .timeline-thumb.timeline-icon {
    height: 50px;
    text-align: center;
    color: white;
    border: 5px solid #CBD0D3;
}

.timeline .timeline-thumb.timeline-icon i {
    font-size: 28px;
    margin: 6px 0;
    display: block;
}

.timeline .timeline-item {
    margin-left: 72px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.timeline .timeline-stats {
    position: relative;
    font-size: 12px;
    color: #7F8C8D;
}

.divider-title {
    background: #e4e4e4;
    padding: 5px 15px;
}

.bg-bullet-item {
    height: 20px;
    background-color: #EDB916 !important;
    border: 0;
    width: 20px !important;
    left: 26px !important;
}

.placa {
    background: url('../images/placa.png') no-repeat center;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    background-size: 100% 100%;
    border: 0;
}

.placa_top {
    position: relative;
    /*top: 13px;*/
    text-align: center;
}

.placa_num {
    position: relative;
    top: 25px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.close-placa {
    position: absolute;
    right: 0;
    margin-right: 4px;
    font-size: 2.5em;
    top: -3px;
    color: #1d1f20;
}

.btn-default {
    background-color: #38BA96;
    color: white!important;
}
